.example-card {
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }
  
  .example-header-image {
    background-image: url('../../assets/images/avatar-1577909_960_720.webp');
    background-size: cover;
  }
  